Numeration of references not working properly in subsections

When references are placed in subsections (instead of sections), the typical markup approach:

````
* [[[id1,1]]] _First reference_
* [[[id2,1]]] _Second reference_
````
doesn't work properly.

For example:

*Taken from 18-053r2*
````
== References

[bibliography]
=== Normative

* [[[EPSG,1]]], EPSG: 4979, 2007. http://spatialreference.org/ref/epsg/wgs-84-3/[http://spatialreference.org/ref/epsg/wgs-84-3/]

* [[[IETF_RFC2397,RFC 2397]]], IETF RFC2397: The "data" URL scheme, 1998. https://tools.ietf.org/html/rfc2397[https://tools.ietf.org/html/rfc2397]

* [[[IETF_RFC3629,RFC 3629]]], IETF RFC3629: UTF-8, a transformation format of ISO 10646, 2003. https://tools.ietf.org/html/rfc3629[https://tools.ietf.org/html/rfc3629]

* [[[IETF_RFC3986,RFC 3986]]], IETF RFC3986: IANA Registration for Enumservice 'XMPP', 2007. https://tools.ietf.org/html/rfc4979[https://tools.ietf.org/html/rfc4979]

* [[[Khronos_Group,1]]], Khronos Group: glTF 2.0 - Runtime 3D Asset Delivery, 2017. https://github.com/KhronosGroup/glTF/blob/master/README.md[https://github.com/KhronosGroup/glTF/blob/master/README.md]

* [[[OGC,OGC 12-063r5]]], OGC: [OGC 12-063r5] Geographic information - Well-known text representation of coordinate reference systems, 2015. http://docs.opengeospatial.org/is/12-063r5/12-063r5.html[http://docs.opengeospatial.org/is/12-063r5/12-063r5.html]

* [[[W3C,W3C css-color-3]]], W3C: CSS3 Color, 2018. https://www.w3.org/TR/css-color-3/[https://www.w3.org/TR/css-color-3/]
````

results in:

![ogc-refs](https://user-images.githubusercontent.com/33627611/91729635-dc1e6500-eb72-11ea-9d56-d26fd9559884.PNG)


The existing code only renumbers numeric references in Bibliography sections, where the numbering in brackets is mandatory in ISO. In Normative References, where numbering is avoided, the renumbering of numeric references has been explicitly avoided. But given that the renumbering only applies to the numeric references, that exception is unjustified, and I'm removing it.

But! This means that in ISO Normative References, the following behaviour will occur:

* ISO 123....
* [2] EPSG...
* ISO 124....
* [4] Krhonos....

where before, the numbered references were left alone, and you might have:

* ISO 123....
* [1] EPSG...
* ISO 124....
* [2] Krhonos....

I think the change is defensible: both normative and informative references can have both standards codes and numbered references, and having the numbering not be a separate sequence but an actual ordinal makes sense iconically. If it isn't, then I'll need to undo this as a global change, and apply it only to flavours which permit it; but to be honest, I don't see any SDO advocating the latter.

(The sensible thing to do of course, in flavours where there are mixed numbered and code-identified standards, would be to gather all the numbered standards at the top.)